{% extends 'store/main.html' %} {% load static %} {% block title %}Formulario de
Registro{% endblock %} {% block content %}
<section class="mt-8 py-5">
  <div class="container">
    <h2 class="text-center mb-4">Formulario de Registro</h2>
    <div class="col-md-6 col-lg-5 mx-auto">
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="fullName" class="form-label">Nombre completo</label>
          <input
            type="text"
            class="form-control"
            id="fullName"
            name="fullName"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Dirección/calle</label>
          <input
            type="text"
            class="form-control"
            id="calle"
            name="address"
            required
          />
          <label for="address" class="form-label">N° calle</label>
          <input
            type="text"
            class="form-control"
            id="numcalle"
            name="address"
            required
          />
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Teléfono</label>
          <input
            type="tel"
            class="form-control"
            id="phone"
            name="phone"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">
          Completar Registro
        </button>
        <!-- Modal de éxito -->
        <div
          class="modal fade"
          id="modalRegistroExitoso"
          tabindex="-1"
          aria-labelledby="modalExitoLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-success">
              <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="modalExitoLabel">
                  ¡Registro exitoso!
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Cerrar"
                ></button>
              </div>
              <div class="modal-body text-center">
                El usuario se ha registrado correctamente.
              </div>
              <div class="modal-footer justify-content-center">
                <button
                  type="button"
                  class="btn btn-success"
                  data-bs-dismiss="modal"
                >
                  Aceptar
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
