{% load static %}
<!DOCTYPE html>
<html lang="es" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    var user = '{{ request.user }}';
    </script>

    <title>{% block title %}Inicio{% endblock %}</title>
  </head>

  <body class="flex flex-col min-h-screen bg-gray-100 text-gray-800 font-sans antialiased">
    <nav class="bg-gray-800 text-white shadow-md py-4">
      <div class="container mx-auto flex items-center justify-between px-4">
        <a class="text-2xl font-bold hover:text-gray-300 transition duration-300" href="{% url 'store' %}">E-TIENDA</a>
        
        <div class="flex items-center space-x-6">
          <ul class="flex space-x-4">
            <li>
              <a class="hover:text-gray-300 text-lg transition duration-300" href="{% url 'store' %}">Producto</a>
            </li>
            <li>
              <a class="hover:text-gray-300 text-lg transition duration-300" href="{% url 'cart' %}">Ventas</a>
            </li>
        
          </ul>

          <div class="flex items-center space-x-4 ml-6">
              {% if user.is_authenticated %}
                  <span class="text-white text-lg font-semibold hidden md:block">Hola, {{ user.username }}</span>
    
    <form action="{% url 'logout' %}" method="post" class="inline"> {# 'inline' para mantenerlo en la misma línea #}
        {% csrf_token %}
        <button type="submit" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-md transition duration-300">
            Logout
        </button>
    </form>
              {% else %}
                  <a href="{% url 'login' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md transition duration-300">
                      Login
                  </a>
              {% endif %}
              <a href="{% url 'cart' %}" class="relative">
                  <img id="cart-icon" src="{% static 'images/cart.png' %}" class="w-8 h-8" alt="Carrito de compras" />
              </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="bg-blue-600 py-3 mt-4">
      <div class="bg-blue-600 py-3 mt-4">
  <div class="container mx-auto px-4">
    <ul class="flex justify-center space-x-8 text-white font-medium">
      {% if user.is_authenticated %}
        <li>
          <button
            class="py-2 px-4 rounded-md hover:bg-blue-700 transition duration-300"
            onclick="window.location.href='{% url 'clientes' %}'"
          >
            Clientes
          </button>
        </li>
      {% endif %}
      
      <li>
        <button
            class="py-2 px-4 rounded-md hover:bg-blue-700 transition duration-300"
            onclick="window.location.href='{% url 'store' %}'"
          >
            Productos
          </button>
      </li>

   
      <li>
        <button
          class="py-2 px-4 rounded-md hover:bg-blue-700 transition duration-300"
          onclick="window.location.href='{% url 'fake_products' %}'"
        >
          Productos API
        </button>
      </li>
      

    </ul>
  </div>
</div>
    </div>

    <main class="flex-grow container mx-auto mt-8 px-4">
      {% block content %}{% endblock %}
    </main>

    <footer class="bg-gray-800 text-white text-center py-6 mt-12">
      <p class="mb-2">&copy; 2025 Technova - Todos los derechos reservados.</p>
      <p>
        <a href="#" class="text-white hover:text-gray-400 mx-3">Política de Privacidad</a>
        <a href="#" class="text-white hover:text-gray-400">Términos y Condiciones</a>
      </p>
    </footer>
    <script type="text/javascript" src="{% static 'js/cart.js' %}" defer></script>
  </body>
</html>