{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="container text-center mt-2">
  <h1>Bienvenido a E-TIENDA</h1>
  <p>En E-TIENDA, ofrecemos una amplia selección de productos únicos y de alta calidad. Desde tecnología moderna hasta accesorios para tu día a día, estamos comprometidos a brindarte la mejor experiencia de compra.</p>
  <p>Descubre nuestras ofertas exclusivas, revisa las opiniones de otros clientes y encuentra justo lo que estás buscando.</p>
</div>

<div class="row">
  {% for producto in seleccionados %}
    <div class="col-lg-4">
      <img
        class="thumbnail"
        src="{% static producto.imagen %}"
        alt="foto de un accesorio">
      <div class="box-element product">
        <h6><strong>Producto</strong></h6>
        <hr>
        <button class="btn btn-outline-secondary add-btn">añadir al carro</button>
          <a href="https://www.solotodo.cl"target="_blank"class="btn btn-outline-success">
              Ver
          </a>

        <h4 style="display: inline-block; float: right">
          <strong>${{ producto.precio }}</strong>
        </h4>
      </div>
    </div>
  {% endfor %}
</div>

<!-- HTML -->
<div class="review-section mt-5">
  <h2>Reseñas de Clientes</h2>
  <div class="review">
    <p>{{ reseñas.reseña }}</p>
  </div>
</div>



{% endblock %}
