{% extends 'store/main.html' %}
{% block title %}Store{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div class="container text-center mt-2">
  <h1>Inicio E-TIENDA</h1>
  <p></p>
  <p></p>
</div>

<div class="row">
  {% for producto in seleccionados %}
    <div class="col-lg-4">
      <img
        class="thumbnail"
        src="{% static producto.imagen %}"
        alt="foto de un accesorio">
      <div class="box-element product">
        <h6><strong>Producto</strong></h6>
        <hr>
        <button class="btn btn-outline-secondary add-btn">añadir al carro</button>
          <a href="https://www.solotodo.cl"target="_blank"class="btn btn-outline-success">
              Ver
          </a>

        <h4 style="display: inline-block; float: right">
          <strong>${{ producto.precio }}</strong>
        </h4>
      </div>
    </div>
  {% endfor %}
</div>

<!-- HTML -->
<div class="review-section mt-5">
  <h2>Ultimos pedidos clientes</h2>
  <div class="review">
    <p>aqui va en el enlace</p>
  </div>
</div>



{% endblock %}
