{% extends 'store/main.html' %}
{% load static %} {# Es buena práctica tenerlo al principio #}

{% block title %}Store{% endblock %}

{# TODO EL CONTENIDO QUE QUIERAS MOSTRAR EN ESTA PÁGINA DEBE IR DENTRO DEL SIGUIENTE BLOQUE #}
{% block content %}
<div class="container text-center mt-2">
  <h1>Inicio E-TIENDA</h1>
  <p></p>
  <p></p>
</div>

<div class="row">
 {% for prod in producto %} {# 'prod' será cada producto individual #}
  <div class="col-lg-4">
  <img class="thumbnail" src="{{ prod.imagen.url }}"> {# Muestra la imagen #}
<div class="box-element product">
 <h6><strong>{{ prod.nombre }}</strong></h6> {# Muestra el nombre #}
 <hr>
<button data-product="{{ prod.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
 <a class="btn btn-outline-success" href="#">View</a>
 <h4 style="display: inline-block; float: right">Bs. {{ prod.precio }}</h4> {# Muestra el precio #}
 </div>
 </div>
{% endfor %}
</div>
{% endblock content %} {# ¡No olvides cerrar el bloque! #}